.footer-bg {
	position: relative;
	// background: $navy;
	@include MQ(tablet) {
		padding: 80px 0 0;
		margin: -64px 0 0;
	}
	@include MQ(mobile) {
		padding: 128px 0 0;
	}
}

.footer-content {
	max-width: 1360px;
	margin: 0 auto;
	padding: 0 16px;
	/*@include MQ(desktop) {
		padding: 0 16px;
	}*/
	@include MQ(tablet) {
		padding: 0;
	}
}

.footer-info {
	// color: $blue-light;
	// border-bottom: 1px solid $blue-light;
}

.footer-link {
	display: block;
	text-align: right;
	padding: 24px 8px 22px 0;
	li {
		display: inline-block;
		line-height: 16px;
		font-size: 14px;
		color: #fff;
		border-right: 1px solid #fff;
		margin: 0 16px 24px 0;
		padding: 0 16px 0 0;
		&.last {
			border-right: 0;
		}
		a {
			display: block;
			color: #fff;
			&:hover {
				text-decoration: underline;
			}
		}
		span {
			display: block;
			margin: 0 16px;
		}
	}
	@media only screen and (max-width: 1366px) {
		text-align: left;
		padding-left: 50%;
		li {
			margin: 0 16px 12px 0;
		}
	}
	@include MQ(tablet) {
		text-align: center;
		margin-bottom: 20px;
		padding: 0;
		li {
			margin: 0 16px 24px 0;
		}
	}
	@include MQ(mobile) {
		max-width: 472px;
		text-align: left;
		margin: 0 auto 16px auto;
		padding: 0 16px;
		li {
			width: 22%;
			text-align: center;
			margin: 0 2% 24px 0;
			padding-right: 2%;
		}
	}
}

.footer-pay,
.footer-partner {
	h2 {
		display: block;
		font-size: 20px;
		color: #6A7F9F;
		margin: 0 0 12px;
	}
	img {
		display: inline-block;
		vertical-align: middle;
		margin-right: 24px;
	}
	&.last {
		margin-right: 0;
	}
}

.footer-pay {
	margin: 0 0 24px;
	float: left;
	img {
		margin-bottom: 16px;
	}
	@media only screen and (max-width: 1366px) {
		width: 50%;
	}
	@include MQ(tablet) {
		width: 100%;
		text-align: center;
		margin: 0 auto 32px auto;
		float: none;
	}
}

.footer-partner {
	width: 100%;
	max-width: 560px;
	margin: 0 2% 0 0;
	float: right;
	img {
		margin-bottom: 24px;
	}
	@media only screen and (max-width: 1366px) {
		width: 50%;
		max-width: none;
		margin: 0;
	}
	/*@include MQ(desktop) {
		width: 50%;
		margin-right: 0;
	}*/
	@include MQ(tablet) {
		width: 100%;
		text-align: center;
		margin: 0 auto 20px auto;
		float: none;
	}
}

.footer-bottom {
	padding: 20px 0;
	@include MQ(tablet) {
		padding: 24px 0 32px;
	}
}

.footer-glc {
	color: #505C6D;
	float: left;
	h2 {
		display: block;
		font-size: 20px;
		margin: 0 0 10px;
	}
	p {
		position: relative;
		display: block;
		max-width: 428px;
		line-height: 18px;
		padding: 0 98px 0 0;
	}
	span {
		font-size: 12px;
	}
	img {
		position: absolute;
		top: 50%;
		right: 0;
		display: block;
		margin: -16px 0 0;
	}
	@include MQ(tablet) {
		margin: 0 0 50px;
		float: none;
		h2 {
			text-align: center;
		}
		p {
			max-width: 366px;
			margin: 0 auto;
			padding: 0 16px;
		}
		img {
			display: block;
			position: static;
			margin: 10px auto 0 auto;
		}
	}
}

.footer-copyright {
	margin: 10px 8px 0 0;
	float: right;
	.logo {
		margin: 0 0 12px;
		img {
			display: inline-block;
			vertical-align: middle;
		}
		.bbin {
			margin: 0 20px 0 0;
		}
	}
	p {
		display: block;
		letter-spacing: 2px;
		font-family: Arial;
		font-size: 12px;
		color: #fff;
	}
	@include MQ(tablet) {
		text-align: center;
		margin: 0 auto;
		float: none;
	}
}