.header-bg {
	position: absolute;
	z-index: 3;
	top: 0;
	left: 0;
	width: 100%;
	&::before {
		content: "";
		position: absolute;
		z-index: 0;
		display: block;
		width: 100%;
		height: 100px;
		background: url(../image/bg_white_o20.png) repeat;
	}
	&.active {
		z-index: 999;
	}
	@include MQ(tablet) {
		position: absolute;
		&:before {
			height: 80px;
		}
	}
}

.header-main {
	position: relative;
	width: 100%;
	max-width: 1600px;
	min-height: 80px;
	margin: 0 auto;
}

.header-logo {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 20px;
	min-width: 160px;
	width: 15%;
	height: 58px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../image/bbinlogo.png);
	background-size: 100% auto;
	margin-top: 21px;
	a {
		display: block;
		width: 100%;
		height: 100%;
	}
	@media only screen and (max-width: 1366px) {
		margin-top: 28px;
	}
	@include MQ(tablet) {
		top: 50%;
		left: 50%;
		margin-left: -80px;
		margin-top: -27px;
	}
}

.header-lang {
	position: absolute;
	top: 50px;
	right: 20px;
	z-index: 2;
	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 10px;
		background: url(../image/lang_arrowdown.png) center no-repeat;
	}
	a {
		display: block;
		width: 40px;
		height: 40px;
		margin: 0 0 10px;
		img {
			display: block;
			width: 100%;
		}
	}
	@media only screen and (max-width: 1366px) {
		right: 10px;
	}
	@include MQ(tablet) {
		display: none;
	}
}

.header-langSelect {
	display: none;
	@include MQ(tablet) {
		display: block;
		max-width: 270px;
		margin: 24px auto;
		select {
			display: block;
			width: 100%;
			height: 50px;
			font-size: 16px;
			text-indent: 36px;
			color: #fff;
			border: 0;
			background: #04162F;
			margin: 0;
			padding: 0;
		}
	}
}

.header-nav {
	display: block;
	width:80%;
	float: right;
	.basic {
		display: block;
		width: 80%;
		text-align: center;
		float: right;
		margin-right: 50px;
		li {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			width: 12%;
			max-width: 109px;
			&::before {
				content: "";
				position: absolute;
				z-index: 1;
				top: 0;
				left: 0;
				display: block;
				width: 100%;
				height: 112px;
			}
			&:hover,
			&.active {
				&::before {
					background: url(../image/nav_bg_hover.png) center top no-repeat;
					box-shadow: 0px 3px 4px 0px #444;
				}
			}
			&:hover {
				.subList {
					@include transition(height .3s ease-in);
				}
			}
			a {
				position: relative;
				z-index: 10;
				display: block;
				height: 112px;
				font-size: 14px;
				color: #fff;
				padding: 68px 0 0 0;
			}
		}
		#LS-ball {
			&:hover {
				.subList {
					height: 90px;
				}
			}
		}
		#LS-game {
			&:hover {
				.subList {
					height: 152px;
				}
			}
		}
	}
	.subList {
		position: absolute;
		z-index: 0;
		top: 100px;
		left: 50%;
		display: block;
		width: 124px;
		height: 0;
		// background: $red-base;
		margin: 0 0 0 -62px;
		overflow: hidden;
		@include transition(height .3s ease-in);
		li {
			display: block;
			width: 100%;
			max-width: none;
			min-height: 0;
			line-height: 2.2;
			font-size: 14px;
			margin: 0;
			&::before {
				display: none;
			}
			&:hover {
				background: url(../image/bg_white_o20.png) repeat;
			}
			&.first {
				margin: 20px 0 0;
			}
			a {
				display: block;
				height: auto;
				padding: 0;
			}
		}
	}
	@media only screen and (max-width: 1366px) {
		.subList {
			li {
				width: 100%;
			}
		}
	}
	@media only screen and (max-width: 960px) {
		.basic {
			width: 87%;
		}
	}
	@include MQ(tablet) {
		position: absolute;
		top: 100%;
		left: 0;
		display: none;
		width: 100%;
		height: auto;
		background: #0A3360;
		&.active {
			display: block;
		}
		.basic {
			width: 100%;
			height: 100%;
			text-align: left;
			border-bottom: 1px solid #234870;
			margin: 0;
			float: none;
			padding: 0;
			li {
				width: 100%;
				max-width: none;
				min-height: 0;
				text-align: left;
				border-bottom: 1px solid #061F3A;
				float: none;
				&.active {
					&::before {
						background: #234870;
					}
					a {
						// color: $red-base;
					}
				}
				&::before {
					top: auto;
					height: 1px;
					background: #234870;
				}
				&:hover {
					&::before {
						background: #234870;
					}
					.subList {
						@include transition(none);
					}
				}
				a {
					height: auto;
					line-height: 64px;
					font-size: 16px;
					padding: 0 0 0 28px;
				}
			}
			#LS-ball,
			#LS-game {
				&:hover {
					.subList {
						height: auto;
					}
				}
				a {
					&::after {
						content: "+";
						position: absolute;
						top: 0;
						right: 18px;
						display: block;
						width: 30px;
						text-align: center;
						font-family: Verdana;
						line-height: 64px;
						font-size: 30px;
						font-weight: bold;
						color: #B7D2F9;
					}
					&.active {
						&::after {
							content: "-";
						}
					}
				}
			}
		}
		.subList {
			display: none;
			position: static;
			width: 100%;
			height: auto;
			background: url(../image/bg_white_o10.png) repeat;
			margin: 0;
			@include transition(none);
			li {
				border-bottom: 0;
				&::before {
					display: none;
				}
				&:hover {
					background: none;
				}
				&.first {
					margin: 0;
				}
				a {
					position: relative;
					font-size: 14px;
					padding-left: 40px;
					color: #B7D2F8 !important;
					&::before {
						content: "";
						position: absolute;
						top: 50%;
						left: 28px;
						display: block;
						width: 4px;
						height: 6px;
						background: url(../image/nav_sub_bg.png) center no-repeat;
						margin: -3px 0 0;
					}
					&::after {
						display: none !important;
					}
				}
			}
		}
	}
}

.header-nav-btn,
.header-login-btn {
	display: none;
	@include MQ(tablet) {
		position: absolute;
		top: 0;
		z-index: 5;
		display: block;
		width: 80px;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
		cursor: pointer;
	}
}

.header-nav-btn {
	@include MQ(tablet) {
		left: 0;
		background-image: url(../image/nav_btn.png);
		&.active {
			background-image: url(../image/nav_close_btn.png);
		}
	}
}

.header-login-btn {
	@include MQ(tablet) {
		right: 0;
		background-image: url(../image/nav_login_btn.png);
	}
}


/* --- 內頁登入條 --- */
.header-top {
	position: relative;
	z-index: 20;
    height: 50px;
    background: url(../image/bg_white_o20.png) #0A3360 repeat;
    padding: 8px 0;
    &-main {
        max-width: 1440px;
        text-align: right;
        margin: 0 auto;
        div {
            display: inline-block;
            vertical-align: middle;
        }
        .user,
        .pwd,
        .chk {
            input {
                height: 34px;
                font-size: 14px;
                color: #8096AD;
                background: none;
                border: 1px solid #8096AD;
                padding: 0 0 0 12px;
                @include placeholder {
                    color: #6C85A0;
                }
            }
        }
        .user,
        .pwd {
            margin-right: 12px;
            input {
                width: 188px;
            }
        }
        .chk {
            margin-right: 16px;
            input {
                width: 120px;
            }
        }
        .loginBtn {
            margin: 0 16px 0 0;
            a {
                display: block;
                width: 70px;
                line-height: 32px;
                font-size: 14px;
                font-weight: bold;
                text-align: center;
                color: #fff;
                // background: $red-base;
                @include border-radius(4px);
                @include transition(all .3s);
                &:hover {
                	// background: $red-base-hover;
                }
            }
        }
        .link {
            font-size: 14px;
            color: #8096AD;
            margin: 0 14px;
            a {
                color: #8096AD;
                &:hover {
                	text-decoration: underline;
                }
            }
            span {
                margin: 0 8px;
            }
        }
        .mem {
            line-height: 34px;
            font-size: 16px;
            color: #fff;
            .acc-name {
	            span {
	                margin: 0 24px 0 0;
	                &.last {
	                	margin-right: 0;
	                }
	            }
            }
            .obalance {
            	position: relative;
            	z-index: 20;
	            i {
	                // color: $red-base;
	                cursor: pointer;
	            }
	            &:hover {
	            	#Member-Sub {
	            		display: block;
	            	}
	            }
            }
        }
    }
    @media only screen and (max-width: 1366px) {
        &-main {
            .user,
            .pwd {
                input {
                    width: 170px;
                }
            }
            .chk {
                input {
                    width: 100px;
                }
            }
        }
    }
    @include MQ(tablet) {
        display: none;
    }
}

#Member-Sub {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 270px;
	text-align: left;
	font-size: 12px;
	color: #000;
	top: 30px;
	left: -260px;
}
.first #Member-Sub{
	top: -10px;
	left: -110px;
}
.MemberDate {
	width: 100%;
	padding: 10px 0 0 0;
	z-index: 100;
	// background: $red-base;
	color: #fff;
	ul {
		padding: 0 10px;
		@include MQ(tablet) {
			padding-left: 0;
		}
	}
	li {
		line-height: 2;
	}
	@include MQ(tablet) {
		background: none;
		font-size: 15px;
		color: #8698B3;
	}
}

.MemberChange {
	width: 100%;
	height: 30px;
	background: #0A3360;
	margin-top: 10px;
	padding: 0 10px;
	a {
		display: block;
		width: 64px;
		line-height: 24px;
		text-align: center;
		color: #fff;
		margin: 3px 6px 0 0;
		// background-color: $red-base;
		float: right;
		&:hover{
			// background-color: $red-base-hover;
		}
	}
	@include MQ(tablet) {
		display: none;
	}
}