$list: ca cn en es id ko lo th tw ug vi;

@mixin lang-icon() {
    @each $author in $list {
        &.icon-#{$author} {
            &::after {
                background-image: url("../image/not-use/#{$author}.png");
            }
        }
    }
}

i.lang {
    &::after {
        width: 48px;
    }
}

.lang {
    @include lang-icon;
    &::after {
        content: "";
        display: block;
        width: 28px;
        height: 100%;
        background-position: center;
        background-size: 100% auto;
        background-repeat: no-repeat;
        margin: auto;
    }
}

.lang-content {
    position: relative;
    width: 100%;
}

.lang-ttl {
}

.lang-wrap {
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: url(../image/bg_black_o80.png) repeat;
    overflow: auto;
    padding: 5% 0 0 0;
    &.active {
        display: block;
    }
    @include MQ(tablet) {
        display: none !important;
    }
}

.lang-lang {
    position: relative;
    width: 100%;
    height: 50px;
    line-height: 48px;
    font-size: 18px;
    color: #fff;
    margin-top: 1em;
    margin-bottom: 48px;
    span {
        display: none;
    }
    &::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 40px;
        height: 1px;
        background-color: #fff;
        margin: 0 0 0 -18px;
    }
    &.active {
        span {
            display: block;
        }
    }
}

.lang-button {
    display: block;
    width: 100%;
    ul {
        display: block;
        width: 100%;
        text-align: left;
        max-width: 656px;
        margin: 0 auto;
    }
    li {
        display: inline-block;
        width: 68px;
        height: 68px;
        line-height: 1;
        margin: 0 16px 16px 16px;
        span {
            display: inline-block;
            line-height: 1;
            margin: 10px;
            .lang {
                display: inline-block;
                overflow: hidden;
                width: 48px;
                height: 48px;
            }
        }
        b {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            line-height: 48px;
            text-align: center;
            font-size: 18px;
            font-weight: normal;
            color: #fff;
        }
        a.lang {
            display: inline-block;
            width: 48px;
            height: 48px;
            overflow: hidden;
        }
        &.active,
        &:hover {
            background: url(../image/lang_item_bg.png) no-repeat;
        }
        &:hover {
            b {
                display: inline-block;
            }
        }
    }
}

.lang-close {
    position: absolute;
    z-index: 10;
    top: 16px;
    right: 16px;
    display: block;
    width: 50px;
    height: 50px;
    background: url(../image/nav_close_btn.png) center no-repeat;
    cursor: pointer;
}