* {
    @include box-sizing;
}

body {
    position: relative;
    font-family: $font-family;
    line-height: $light-height;
    overflow-x: hidden;
}

a {
	text-decoration: none;
}

button, input, optgroup, select, textarea {
	color: inherit;
    font: inherit;
    margin: 0;
    @include border-radius(0);
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

img {
	border: 0;
	/*max-width: 100%;*/
	height: auto;
	vertical-align: middle;
}

/* --- Clearfix --- */
.clearfix {
    @include clearfix;
}

/* --- No-scroll --- */
.no-scroll {
	overflow: hidden;
	height: 100vh;
}

/* --- Display no & show --- */
.no-display {
	display: none !important;
}
.show-display {
	display: block !important;
}

/* --- 遮罩 ---*/
.mask-bg {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 998;
	display: none;
	width: 100%;
	height: 100%;
	cursor: pointer;
    @include MQ(tablet) {
    	&.active {
    		display: block;
    	}
    	&.login-active {
    		display: block;
    		z-index: 999;
    	}
    }
}
#navMask{
    // background: url(../image/bg_black_o80.png) repeat;
}
#loginMask{
    // background: $blue-light;
}
body.overflow{
    overflow: hidden;
}

//- 主架構
#mainBody {
    overflow: hidden;
    // background-color: #000;

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}

#page-body {
    background: #fff;
}

/* --- 內頁共用架構 --- */
.page-bg {
    position: relative;
    width: 100%;
    @include MQ(tablet) {
        min-height: 0 !important;
    }
}

.page-main {
    position: relative;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    @include MQ(tablet) {
        padding: 80px 0 0 !important;
    }
}

.page-title {
    position: absolute;
    top: 190px;
    left: 16px;
    display: block;
    width: 100%;
    max-width: 540px;
    padding: 80px 0 0;
    h2 {
        position: relative;
        z-index: 3;
        display: block;
        font-size: 40px;
        text-align: center;
        color: #fff;
    }
    &::before {
        content: '';
        z-index: 1;
        position: absolute;
        top: -60px;
        right: -40px;
        display: block;
        width: 500px;
        height: 280px;
        background: url(../image/title_bg.png) center no-repeat;
    }
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        display: block;
        width: 100%;
        height: 100%;
        background-image: url(../image/about_title.png);
        background-repeat: no-repeat;
        background-position: top left;
        background-size: 460px auto;
    }
    @include MQ(tablet) {
        display: none;
    }
}

/* --- 內頁調整 --- */
.page-wrap {
	.header-bg {
        &::before {
		  top: 50px;
        }
	}
	.header-main {
		max-width: 1440px;
	}
    .footer-link {
        padding: 20px 16px 22px 0;
    }
    /*@include MQ(desktop) {
        .footer-link {
            padding-right: 0;
        }
    }*/
	@include MQ(tablet) {
        .header-bg {
            &::before {
              top: 0;
            }
        }
		.footer-bg {
			padding: 0;
		}
	}
}