.live {
	.page-bg {
		min-height: 1071px;
		background: url(../image/live_bg.jpg) #04162F;
		background-repeat: no-repeat;
    	background-position: center top;
	}
	.page-main {
		padding: 380px 0 0;
	}
	.page-title {
		top: 200px;
		&::after {
			background-image: url(../image/live_title.png);
			background-size: 530px auto;
		}
	}
	.footer-link {
		text-align: center;
	}
	@include MQ(tablet) {
		.footer-bg {
			margin: 0;
			padding: 40px 0 0;
		}
		.footer-link {
			padding-left: 16px;
			padding-right: 16px;
		}
	}
}

.live-wrap {
	position: relative;
	z-index: 50;
}

.ele-live-wrap {
	position: relative;
	width: 100% !important;
	max-width: 960px;
	&::after {
        content: "";
        position: absolute;
        right: -6px;
        bottom: -6px;
        display: block;
        width: 208px;
        height: 32px;
        border-right: 1px solid #2E5083;
        border-bottom: 1px solid #2E5083;
    }
    @include MQ(desktop) {
    	&::after {
			display: none;
		}
	}
}