.sports {
	.page-bg {
		min-height: 1047px;
		background: url(../image/sports_bg.jpg) #04162F;
		background-repeat: no-repeat;
    	background-position: center top;
	}
	.page-main {
		padding-top: 380px;
	}
	.page-title {
		top: 200px;
		h2 {
			padding-right: 80px;
		}
		&::before {
			right: -20px;
		}
		&::after {
			background-image: url(../image/sports_title.png);
			background-size: 327px auto;
		}
	}
	.footer-link {
		text-align: center;
	}
	.page-login-wrap {
		z-index: 1000 !important;
		left: auto !important;
		top: 40px !important;
		right: 50% !important;
	}
	@include MQ(tablet) {
		.footer-bg {
			margin: 0;
			padding: 40px 0 0;
		}
		.footer-link {
			padding-left: 16px;
			padding-right: 16px;
		}
	}
}

.sports-wrap {
	position: relative;
	z-index: 50;
}


/* --- 模組調整 --- */
.sport-wrap {
	position: relative;
	&::after {
        content: "";
        position: absolute;
        right: -6px;
        bottom: -6px;
        display: block;
        width: 208px;
        height: 32px;
        border-right: 1px solid #2E5083;
        border-bottom: 1px solid #2E5083;
    }
    @include MQ(desktop) {
    	&::after {
			right: 10px;
		}
	}
	@include MQ(tablet) {
    	&::after {
			display: none;
		}
	}
}